@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&display=swap');

$bg-1: #0E1938;
$bg-2: #22325E;

* {
    margin: 0;
    padding: 0;
    
}

*,
::after,
::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem is 10px
}

body {
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, $bg-1, $bg-2);
  
    color: #fff;
    min-height: 100vh;
  
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem auto 8rem auto;
    padding: 3rem;

    width: 80rem;

}

.line {
    stroke: rgba(255,255,255,.7);
    stroke-width: .05rem;
}

#duration {
    font-size: 5rem;
    text-align: center;
    color: #eee;
    background-color: transparent;
    border: none;

    position: absolute;
    top: 25rem;

    &:focus {
        outline: none;
    }
}

#button {
    cursor: pointer;
    background-color: rgb(255, 115, 0);
    text-transform: uppercase;
    color: #eee;
    font-size: 1.8rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    outline: none;
    border: none;
    position: absolute;
    top: 39rem;

}

